*{
	list-style:none;
}
.dossier{
	border:none;
    background-image: linear-gradient(to right, #3e92ff,#2eadff);
    color: #fff;
    padding:7px 25px;
    margin-left:20px;
}
/*逮捕必要性评估总览*/
.first-level-titles{
    position: relative;
  width:100%;
  margin-bottom: 18px;
  display: table;
  //border-left:5px solid #ededed;
  padding-left:5px;

  span{
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: #464d5c;
    font-weight: bold;
      &:before{
          content: '';
          width: 4px;
          top: 0;
          bottom: 0;
          background-color: #2c92f6;
      }
  }
  .right{
      float:right;
      cursor: pointer;
  }
  .show{
      float:right;
      cursor: pointer;
  }
}
.first-content{
	width:100%;
	height:120px;
	border: 1px solid #ededed;
	.first-content-ul{
        width:100%;
        height:100%;
        .first-content-li{
            width:33.333%;
            height:100%;
            float:left;
            border-right: 1px solid #ededed;
            &:last-child{
                border-right: none;
            }
        }
	}
}
.firstleft{
	float:left;
	width:33.33%;
	height:100%;
	.top{
	    width:100%;
	    height:50%;
	    position: relative;
	    img{
	    height:85%;
        position: absolute;
        top:20px;
        left:40%;
    }
	}
	.username{
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	color:#464d5c;
	}
}
.firstcenter,.firstright{
    float: left;
    width:33.333%;
    height:100%;
    .top{
        width:100%;
        height:50%;
        font-family: "微软雅黑";
        font-size: 14px;
        text-align: center;
        line-height: 100px;
        color:#464D5C;
    }
    .sizeblue{
        color:#4ca3f6;
        font-size: 20px;
    }
    .bottom{
        width:100%;
        height:50%;
        font-family: "微软雅黑";
        font-size: 13px;
        text-align: center;
        line-height: 50px;
        color:#464D5C;
    }
    .sizeyellow{
        color:#ffa327;
        font-size: 20px;
    }
}

//选项卡
.nav-tabs{
    padding:0 25px;
}
.tab-content{
    background: #fff;
    padding:0 20px;
}
//提示
.prompt{
    width:100%;
    padding:20px 0;
    .promptspan{
        font-family: "微软雅黑";
        font-size: 12px;
        color:#868e9a;
    }
}
.nav-tabs>li.active>a{
    color:#2b93f5 !important;
    font-size: 14px;
    font-weight: bold;
}
.nav-tabs>li>a{
    color:#000;
    font-size: 14px;
}
//因素
.factor{
    width:100%;
    font-family: "微软雅黑";
    border: 1px solid #ededed;
    padding:20px;
    border-bottom: none;
    &:last-child{
        border-bottom: 1px solid #ededed;
        margin-bottom: 20px;
    }
    .factorcontent{
        width:100%;
        .title{
            font-family: "微软雅黑";
            font-size: 14px;
            font-weight: bold;
            color:#2b93f5;
            position: relative;
            padding-left:20px;
        }
        .title::before{
            content:"";
            position: absolute;
            top:8px;
            left:5px;
            width:5px;
            height:5px;
            background: #2b93f5;
            border-radius: 50%;
        }
        .biaoti{
            font-family: "微软雅黑";
            font-size: 13px;
            font-weight: bold;
            color:#464d5c;
            margin: 15px 0;
        }
        .num{
            font-family: "微软雅黑";
            font-size: 20px;
            font-weight: bold;
            color:#ff9600;
            margin-right: 10px;
        }
    }
    .sentencingDiv{
        width:100%;
        font-family: "微软雅黑";
        color:#464d5c;
        font-size: 12px;
        //margin-bottom: 10px;
        line-height: 1.5;
        overflow: hidden;
        .sentencingSlide{
            display: flex;
            //align-items::-webkit-validation-bubble-top-inner-arrow;
            float: left;
            cursor: pointer;
            font-family: "微软雅黑";
            font-size: 12px;
            color:#464d5c;
            max-width: 100%;
            margin-right:25px;
            margin-bottom: 10px;
        }
    }
}
.factorbox-auto{
    .slh{
        width: auto!important;
    }
}
.mt20{
    margin-top:20px;
}
.mb20{
    margin-bottom:20px;
}
input{
     vertical-align: middle !important;
}

label{
    font-weight: normal !important;
}


.slh {
    display: inline-block;
    width: 230px;
    height:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#464d5c;
    font-size: 13px;
    margin-left: 10px;
}
.slh:hover {
    text-decoration: none;
    color:#464d5c;
}



/*事实审定页面*/
.text-center{
    th{
        text-align: center;
        .th-inner{
            text-align: center;
        }
    }
}
.icon-box{
    cursor: pointer;
    vertical-align: middle;
    i{
        margin-right: 3px;
        vertical-align: middle;
    }
}
.fc-green{
    color: #29d295;
}
.fc-orange{
    color: #ff9600;
}
.select-grey{
    .btn-default{
        background-color: #f6f5f5;
        color:#464d5c!important;
        .icon-box{
            color: #464d5c;
            .icon-tupian{
                font-size: 12px;
            }
        }
    }
}
.w120{
    width: 120px!important;
}
.base-width{
    width: 92px!important;
}
.nav-page{
    height: 32px;
    font-size: 13px;
    display: inline-block;
    &>li{
        color: #413835;
        float: left;
        margin-right: 20px;
        line-height: 32px;
        cursor: pointer;
        vertical-align: middle;
        a,
        &:hover,
        &:visited,
        &:focus{
            color: #413835!important;
            text-decoration: none!important;
        }
        .iconfont {
            font-weight: bold;
            color: #413835;
            vertical-align: middle;
        }
    }
}
.img-page-box{
  margin: 0 -25px -20px -25px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    &>div{
        float: left;
        height: 100%;
        overflow: hidden;
    }
  .img-page-box-left{
    width: 27%;
    padding: 10px;
    background-color: #f6f5f5;
      &>div{
          height: 100%;
      }
    img{
      width: 100%;
    }
      .carousel,.carousel-inner,.item{
          min-height: 100%;
      }
  }
  .img-page-box-center{
    width: 48%;
      border-right: 1px solid #ededed;
      border-left: 1px solid #ededed;
      .panel{
          -webkit-box-shadow: none;
          box-shadow:none;
          border: none;
          .text-area-container{
              position: relative;
              padding-bottom: 55px;
              .add-evi-box{
                  position: absolute;
                  width: 100%;
                  bottom: 8px;
              }
             .box-group{
                 height: 100%;
                 padding-right: 10px;
                 margin-right: -10px;
             }

          }
      }
      .panel-heading{
          border-bottom: 1px solid #ededed;
          padding-left: 0;
          padding-right: 0;
          .nav-my-style{
              display: block;

          }
      }
      .tab-pane{
          padding: 15px 25px;
          .icon-box{
              font-size: 12px;
              color: #2b93f5;
          }
          .icon-xiangji{
              font-size: 20px;
          }
      }
  }
  .img-page-box-right{
      width: 25%;
      padding: 15px 25px;
  }
}
.bold{
    font-weight: bold!important;
}
.text-area-box{
    .text-area-title{
        margin-bottom: 8px;
        .title-left{
            float: left;
            font-size: 13px;
            color: #595e6b;
        }
        .title-right{
            float: right;
            font-size: 12px;
            color: #868e9a;
        }
    }
    .text-area-footer{
        margin-top: 2px;
        position: relative;
        .full-text-box{
            width: 400px;
            border: 1px solid #ededed;
            position: absolute;
            left: 20%;
            bottom: 15px;
        }
        .panel-full-text{
            width: 400px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .tooltip-inner{
            max-width: 500px;
        }
    }
    .text-area-default{
        color: #413835;
    }

}
.text-area-box:last-child{
    margin-bottom: 40px;
}
.text-area-default{
     width: 100%;
    height: 90px;
    border: 1px solid #ededed;
    font-size: 12px;
    color: #464d5c;
    outline: none;
    padding: 5px;
    cursor: pointer
}
.main-management-form-item{
    height: 300px;
    overflow: auto!important;
    &::-webkit-scrollbar {/*滚动条整体样式*/
        width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 5px;
        width: 4px;
        //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #c0c0c0;
    }
    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
        //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 0;
        width: 10px;
        background-color: transparent;
    }
    &:hover{
        overflow: auto;
    }
    .crime-details-box{
        width: 85%;
        height: 100%;
    }
}
.add-evi-box{
//    添加证据项
    position: relative;
    .hidden-modal-box{
        display: none;
        position: absolute;
        width: 60%;
        left: 18%;
        //display: none;
        bottom: 50px;
        .modal-body{
            padding-right: 5px;
            padding-bottom: 5px;
        }


    }
    .btn-grey{
        border: 1px dashed #d5d5d5!important;
        color: #2994f4!important;
        padding: 10px 0;
        .fa-plus{
            margin-right: 5px;
        }
    }

}
.evi-box{
    //margin-right: -10px;
    width: 100%;
    li{
        position: relative;
        float: left;
        padding: 3px 8px;
        margin-bottom: 10px;
        background-color: #f6f5f5;
        font-size: 13px;
        color: #464d5c;
        border: 1px solid #d5d5d5;
        margin-right: 10px;
        cursor: pointer;
        &.active:after{
            content: "";
            position: absolute;
            right: -5px;
            top:-5px;
            width: 15px;
            height: 15px;
            background:url("../images/examineArrest/add_edi_ok.png")no-repeat;
            -webkit-background-size: 15px 15px;
            background-size: 15px 15px;
        }
    }
}
.select-has-opt{
    .dropdown-menu>li>a{
        font-size: 13px;
        color: #464d5c;
        &.opt{
        }
    }
}
.txt-view{
    resize: none;
    display: none;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    border: none;
    margin: 0;
    outline: none;
    padding: 15px;
}
.right-operate{
    position: fixed;
    width: 150px;
    li.list-group-item{
        padding: 5px 10px;
        cursor: pointer;
        font-size: 13px;
        color: #464d5c;
    }
}



/*证据审查页面*/
.img-view-box{
    height: 100%;
    &>div.carousel{
        width: 55%;
        margin: 0 auto;

    }
}
.pt40{
  padding-top: 40px!important;
}
.mt8{
    margin-top: 8px;
}
.label-box{
  height: 40px;
  font-size: 13px;
  color: #000;
  background-color: #f6f5f5;
  line-height: 40px;
    margin: 0 -15px;
    padding: 0 15px;
  vertical-align: middle;

    .dropdown-toggle{
        color: #000!important;
    }
}
.select-min{
    width: 80px!important;
    .btn{
        padding: 4px 10px;
    }
    height: 25px;
    .text{
        font-size: 13px!important;
    }
}
.label-container{
    margin-right: -15px;
    padding-right: 15px;
    .text-area-box{
        .text-area-default{
            background-color: #f6f5f5;
            height: 66px;
        }
        .title-left{
            span{
                color: #464d5c;
            }
            .number{
                padding: 1px 6px;
                border-radius: 50%;
                &.yellow{
                    background-color: #fdc700;
                }
            }
            .date{

            }
        }
    } 
}
.panel{
    box-shadow: none;
    -webkit-box-shadow: none;
}
.pop-control-box{
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}
.w400{
    width: 400px;
}
.modal-content{
    margin: 0 auto;
}
.cursor{
    cursor: pointer;
}
.pt0{
    padding-top: 0!important;
}
.block-center{
    margin: 0 auto!important;
}
.left-blue-rect-title{
    position: relative;
    font-size: 14px;
    color: #464d5c;
    padding-left: 8px;
    &:before{
        content: '';
        position: absolute;
        width: 4px;
        top: 2px;
        bottom: 2px;
        left: 0;
        background-color: #2b93f5;
    }
}
.table-evidence-box{
    table{
        width:100%;
        table-layout: fixed;
        thead{
            tr{
                th{
                    padding:15px 0;
                    height:42px;
                    text-align: center;
                    border-bottom:1px solid #ddd!important;
                    font-weight: normal;
                    border-top:1px solid #e7e9f0;
                }
                :first-child{
                    width:142px;
                    text-align: left;
                    border-right:1px solid #eee;
                    padding-left:10px;
                }
            }


        }
        tbody{
            tr{
                td{
                    text-align: center;
                    width:142px;
                    height:42px;
                    padding:5px;
                    font-size: 12px;
                    >div{
                        width:100%;height:100%;
                        padding:0 5px;
                        height: 42px;
                        line-height: 42px;
                        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
                    }
                }
                td:first-of-type{

                    width:142px;
                    font-size: 13px;
                    font-weight: bold;
                    border-right:1px solid #eee;
                    text-align: left;
                    padding-left:10px;
                    div{
                        line-height: 20px;
                        display:block;white-space:normal; overflow:visible; text-overflow:clip;
                    }
                }
                td:first-of-type
                .fs15{
                    font-size: 15px;
                }
                .nothing_bg{
                    background: #f7f7f7;
                }
                .reinforce_bg{
                    background: #e4f2fe;
                }
                .sap_bg{
                    background: #fdead3;
                    :hover{
                        display: initial
                    }
                }
            }
            tr:first-of-type{
                td{
                    padding-top:20px;
                }
            }
        }
    }
}
.table-evidence{
    tbody tr:first-child{
        td{
            padding-top: 5px!important;
        }
    }
    thead{
        tr{
            th{
                border: none;
            }
        }
    }
    tbody {
        padding: 15px;
        tr td{
            border: none;
            height: 75px!important;
            span{
                display: flex;
                height: 100%;
                padding: 5px;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .table-white-td{
        border: 1px solid #ededed;
    }
    .table-blue-td{
        background-color: #e4f2fe;
    }
    .table-orange-td{
        background-color:#fde3c4;
        vertical-align: middle;
    }
}



/*量刑计算页面*/
.bold-title{
    font-size: 16px;
    font-weight: bold;
}
.fs13{
    font-size: 13px;
}
.block{
    display: block;
}
.plot-box {
  border: 1px solid #e7e9f0;
  padding: 15px;
  padding-bottom: 0;
  margin-left: -5px;
  margin-right: -5px;
  >li{
    border-bottom: 1px solid #e7e9f0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    padding-bottom: 0;
    &:last-child{
      border: none;
    }
    &:first-child{
      padding-top: 0;
    }
  }
  .plot-title {
    position: relative;
    color: #2b93f5;
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
    margin-bottom: 15px;
    border-bottom: 1px solid transparent;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #2b93f5;
    }
  }
}
.icheck-label-box{
  padding: 0;
  overflow: hidden;
  >li{
    float: left;
    width: 200px;
    >label{
      padding-right: 15px;
      height: 45px;
      overflow: hidden;
      >div{
        float: left;
        height: 19px;
      }
      >span{
        float: left;
        display: inline-block;
        width: 155px;
        padding-left: 8px;
        vertical-align: middle;
        font-size: 13px;
        color: #464d5c;
      }

    }

  }

}
.input-deauft{
  border: 1px solid #d7dde4;
  height: 30px;
  min-width: 220px;
  outline: none;
  color: #999;
  font-size: 13px;
  padding-left: 5px;
}
.cause-list-item{
  position: relative;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #ededed;
  .cause-list-detail{
    h5{
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 10px 0;
    }
  }
  .icon-wenben{
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 28px;
    color: #2b93f5;

  }

}
.matching{
  display: flex;
  align-items: center;
  font-size: 12px;
    position: relative;
    top: -6px;
  .num-big{
    margin: 0 6px;
    font-size: 20px;
    color: #fd8b04;
  }

}
.loading-orange{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/examineArrest/loading-orange.png") no-repeat;
  background-size:20px;
}
.table-page-box{
  .fixed-table-container{
    border: none;
  }
  .fixed-table-loading{
    display: none;
  }
  thead{
    display: none;
  }
  table{
    border: none;
    tbody{
      tr{
        border: none;
        &:hover{
          background-color: transparent;
        }
        &:last-child{
          td{
            >div{
              border: none;
            }
          }
        }
        td{
          padding: 0!important;
        }
      }
    }
  }
}
.input-box-border-deep{
    border: 1px solid rgb(204,204,204);
    color: rgb(204,204,204);
    input{
        color: #b5b5b5;
    }
}
//分页
.pagination-detail{
    display: block!important;
}
.page-list{
    margin-top: 10px;
    margin-left: 5px;
}
.analysis{
    height:auto;
    .top{
        height:60px;
        width:100%;
        border-bottom: 1px solid #e7e9f0;
        .chance-box{
            line-height: 60px;
            img{
                margin:0 4px 0 24px;
                width:17px;
                height:18px;
            }
            .chance{
                font-size: 20px;
                color:#fd8b04;
            }
        }
        .next-box{
            line-height: 60px;
            background: none;
            margin-right:20px;
        }
    }
    .bottom{
        height:auto;
        padding-top:10px;
        padding-bottom:16px;
        ul{
            :first-child{
                color:#464d5c;
            }
            li{
                padding:9px 20px;
                text-align:left;
                font-size: 12px;
                color:#fd942b;
            }
        }
    }
}
.prove_icon{
    li{
        vertical-align: middle;
        float: left;
        padding-right:20px;
        img{
            margin:0 10px;
            margin-bottom: 2px;
        }
    }
}