@import "panel";
/*--------------案件受理报告页面--------------*/
//案件信息
.case-message{
  padding-bottom: 15px;
  border-bottom: $borderGrey;
  background-color: #fff;
  z-index: 999;
  >div{
    float: left;
    height: 60px;
  }
  .message-logo{
    width: 66px;
  }
  img{
    width: 80%;
  }
  .case-message-title{
    font-size: 16px;
    color: #2b93f5;
    font-weight: bold;
  }
  .message-classify{
    span{
      margin-right: 45px;
      font-size: 13px;
      color: #868e9a;
      b{
        font-weight: normal;
        color: #595e6b;
      }
    }
  }
}
.simple-case-message{
  position: fixed;
  width: 100%;
  top: 70px;
  left: 0;
  padding: 15px;
  height: 62px;
  .case-message-title{
    margin-bottom: 0;
    line-height: 30px;
    vertical-align: middle;
  }
  &:after{
    content: '';
    height: 62px;
    width: 100%;
  }
  >div{
    height: auto;
  }
  .message-logo{
    display: none;
  }

  .message-classify{
    display: none;
  }
}
.case-message2{
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  padding: 10px;
  background-color: #fff;
  z-index: 999;
  >div{
    height: auto;
  }
  .case-message-title{
    margin-bottom: 0;
    line-height: 30px;
  }
}
.step{
  padding: 15px 0 0 0;
}

.first-level-title{
  margin-bottom: 18px;
  display: table;
  span{
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: #464d5c;
    font-weight: bold;
  }
  img{
    display: table-cell;
    width: 18px;
    vertical-align: middle;
    margin-right: 8px;
  }
}


/*---------------电子卷宗页面-------------------------*/
.ele-box{
  padding: 20px 25px;
}
.search-code{
  input{
    border: none;
    outline: none;
    height: 100%;
    font-size:12px;
    color: #868e9a;
  }
  .input-group{
    position: relative;
    width: 160px;
    border:$borderGrey;
    height: 32px;
    padding:3px 20px 3px 3px;
    margin-right: 20px;
    span{
      position: absolute;
      right: 0;
      color: #868e9a;
      //top: 10px;
      padding: 5px;
      cursor: pointer;
    }
  }
  .bootstrap-select{
    width: 160px!important;
  }
}
.choose-box{
  padding: 10px 0;
  label{
    padding-bottom: 50px;
  }
  .choose-title{
    font-size: 13px;
    color: #464d5c;
    vertical-align: middle;
    .icheckbox_square-blue{
      margin-right: 8px;
    }
    input{
      margin-right: 8px;
    }
    span{
      color: #868e9a;
      .fc-blue{
        color: #1696fd;
      }
    }
    span.fc-blue{
      color: #1696fd;
      cursor: pointer;
    }
  }
  .check-group{
    margin-right:-15px;
    margin-left: -15px;
    .check-item{
      position: relative;
      border: $borderGrey;
      padding: 10px;
      //margin: 0 10px;
      .check-message{
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        font-size: 13px;
        font-weight: normal;
      }
      .check-img{
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background:url("../images/openCases/check-img.png")no-repeat;
        background-position: 0 -37px;
        -webkit-background-size: 30px auto;
        background-size: 30px auto;
      }

      img{
        width: 100%;
      }
    }
    .checked{
      span{
        background-position: 0 0!important;
      }
    }
    .fixed-table-container{
      border: none;
      tbody td {
         border-left: none;
        padding: 8px 15px!important;
      }
    }

    table{
      border-bottom: none!important;
      tr:hover{
        background-color: #fff;
      }
    }
  }
  .check-table{
    border: none!important;
    thead{
      //display: none!important;
    }
    tr:hover{
      background-color: #fff!important;
    };
  }
}


/*-------------案件提交页面-----------------*/

.container-center{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 55px;
  padding-top: 15px;
  .row{
    margin: 0 -15px;
  }
}
.form-base-info{
  .row{
    margin: 0 -15px!important;
  }
  label{
    font-weight: normal;
    text-align: left;
    font-size: 14px;
  }
  .radio-inline{
    font-size: 12px;
  }

  .radio-inline{
    margin-left: 0;
  }
  .form-button-box{
    text-align: center;
    button:first-child{
      margin-right: 20px;
    }
  }
  .base-info-input{
    width: 100%!important;
    height: 31px;
    outline: none;
    font-size: 12px;
    padding-left: 12px;
    border: 1px solid #ccc;
    color: #000;
  }
  .width-p-100{
    width:100%!important;
  }
  .bootstrap-select>select{
    display: none!important;
  }
  .spy-type-box{
    padding: 15px 20px;
    background-color: #fbfbfb;
    border: $borderGrey;
    .form-group:last-child{
      margin-bottom: 0;
    }
    label{
      font-size: 12px;
    }
  }
  .crime-details-box{
    .opera{
      display: none;
    }
      .spy-type-box{
        margin-bottom: 20px;
        margin-right: -15px;
      }
  }
  .more-people{
    position: relative;
    .opera{
      position: absolute;
      display: block;
      top: 0;
      right: -35px;
      padding: 1px 5px;
      text-align: center;
      background-color: #2b93f5;
      color: #ffffff;
      border-radius: 5px;
      border: $borderGrey;
      i{
        margin-right: 0;
      }
    }
    
    
    /*下拉框select2*/
    .select2-container--krajee
    .select2-selection:focus,
    .select2-container--krajee.select2-container--open .select2-selection{
      box-shadow: none;
      border:1px solid #ccc;
    }
    .select2-container--krajee .select2-selection{
      border-radius: 2px;
      font-size: 12px;
    }
    .select2-container .select2-selection--multiple{
      height: 31px;
      //font-size: 0;
      .select2-selection__rendered{
        padding: 0;
      }
    }
    .select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field{
      //height: 31px;
      padding-bottom: -5px;

    }
    .select2-container--krajee .select2-selection--multiple .select2-selection__choice{
      background-color: #eeeeee!important;
      color: #000!important;
    }
  
  }
}
.require span{
  position: relative;
  &:after{
    content: '*';
    position: absolute;
    font-size: 14px;
    color: #ff4242;
    right: -10px;
    top: 0
  }
}
.file-upload{
  width: 100%;
  height: 96px;
  display: table;
  background-color: #fbfbfb;
  border: 1px dashed #d7dde4;
  &>div{
    width: 80%;
    padding-left: 50px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    .upload-title{
      .fc-blue{
        cursor: pointer;
      }
    }
    i{
      position: absolute;
      color: #2b93f5;
      font-size: 38px;
      left: -55px;
      top:-10px;
    }
  }
}
.progress-box{
  margin-top: 20px;
  .progress-item{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom:0;
    }
    .progress-title{
      font-size: 12px;
      color: #868e9a;
      margin-bottom: 5px;
      i{
        margin-right: 5px;
        font-size: 15px;
      }
    }
    .progress{
      height: 4px;
      background-color: #f4f4f4;
      .progress-bar{
        background-color: #2b93f5;
      }
    }
  }
}

