@import "modules";//模块
@import "assist";//辅助样式

/*-----------检察办案页面-------------*/
.jianwu-app-box{
  padding: 20px 20px 0 20px;
  background-color: #fff;
}
.blue-border{
  border: 1px dashed #1696fd;
}
.center-container{
  position: relative;
  padding-top: 95px;
  .content-header{
    position: absolute;
    top: 0;
    height: 80px;
    //margin: -25px -30px 0 -30px;
    padding: 15px 30px;
    border-bottom: 1px solid #dee0e2;
  }
}

.task-container{
  //margin-left: -30px;
  //margin-right: -30px;
  height: 85%;
  //width: 10%;
  padding-right: 15%;
  overflow: auto;
}

.content-title{
  font-size: 16px;
  color: #464d5c;
  >span{
    font-size: 12px;
    color: #868e9a;
  }
}
//检务头条
.head-line-box {
  position: relative;
  border: 1px solid #dadada;
  margin-top: 8px;
  height: 35px;
  width: 100%;
  padding-left: 95px;
  .head-line-logo{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 95px;
    background: url("../images/work-table/head_line_logo.png") no-repeat center;
    -webkit-background-size: 82px 19px;
    background-size: 82px 19px;
  }
}
.head-line-list{
  position: relative;
  width: 95%;
  height: 100%;
  overflow: hidden;
  ul{
    left: 0;
    padding: 0;
    li{
      font-size: 12px;
      display: inline-block;
      line-height: 35px;
      white-space: nowrap;
      text-align: left;
      list-style: circle;
      height: 34px;
      a{
        text-decoration: none;
        color: #000000;
      }
      a:hover{
        color: #3199fe;
      }
    }
  }
}
//右边区域
.right-box{
  border-left: 1px solid #dee0e2;
  background-color: #f9f9fb;
  .schedule{
    //padding-bottom: 15px;
    padding-top: 20px;
    height: 55%;
    border-bottom: 1px solid #dadada;
    background-color: #f9fafa;
    .deal-qulick{
      margin-right: 15px;
    }
  }
  .task-little{
    height:45%;
    padding-bottom: 20%;
    padding-top: 20px;
    background: url("../images/work-table/take_rest.png") no-repeat;
    background-position:right bottom;
    -webkit-background-size: 70%;
    background-size: 70%;
    .task-small-title{
      font-size: 14px;
      font-weight: bold;
      color: #464d5c;
      padding-left: 15px;
    }
    .small-task{
      overflow: auto;
      height: 100%;
      padding-right: 20px;
    }
  }
}
