@charset "UTF-8";
@import "../vonder/font-awesome-4.7.0/scss/font-awesome";
@import "popWindow";//弹窗的样式
@import "public";//其他样式
@import "headerLeft";
@import "workTable";//辅助工作台样式
@import "openCases";//案件受理样式
@import "examineArrest";//审查批准逮捕样式
//@import "AmplitudeSetting";//量刑计算情节辅助设置
//@import "factualApproval";//事实审定样式
//@import "sufficiencyEvidence";//证据充分性判断样式
//@import "sentencingCalculation";//量刑计算


/*内容*/
body{
  font-family: "微软雅黑";
}
li{
  list-style: none;
}
.wrapper{
  position: relative;
  padding: $topHeight 0 0 20%;
}
.content{
  //padding: 25px 30px 0 30px;/
  background-color: #f4f4f4;
}
.one-content{
  padding: 20px 25px;
  margin-bottom: 15px;
  border-top: $borderGrey;
  border-bottom: $borderGrey;
  background-color: #fff;
}
.one-content:first-child{
  border-top: none;
}
.one-content:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.btn-box{
  .btn{
    margin-right: 20px;
  }
  .btn:last-child{
    margin-right: 0;
  }
}
.footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #292f43;
}
.yy-content-title{
  font-size: 14px;
  color: #868e9a;
  a,
  a:focus,
  a:visited,
  a:hover{
    text-decoration: none;
    color: #1696fd;
  }
}

//滚动条样式
.scroll-style{
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    width: 4px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 0;
    width: 10px;
    background-color: transparent;
  }
  &:hover{
    overflow-y: auto;
    &::-webkit-scrollbar {/*滚动条整体样式*/
      width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
      border-radius: 5px;
      width: 4px;
      //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: #c0c0c0;
    }
    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
      //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      border-radius: 0;
      width: 10px;
      background-color: transparent;
    }
  }

}

.modal-dialog{
  margin: 80px auto;
}

/*-----------证据审查页面-----------*/

.second-screen{
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding-left: 240px;
  .bg-grey{
    position: absolute;
    width: 240px;
    left: 0;
    padding-top: 60px;
    height: 100%;
    background-color: #f2f2f2;
    overflow: auto;
    border-top: $borderGrey;
    margin-right: -15px;
    .left-file-details{
      position: absolute;
      top:0;
      left: 0;
      height: 60px;
      padding-top: 14px;
    }
    .file-left{
      height: 100%;
    }
  }
  .right-discern{
    padding-top: 55px;
    padding: 55px 15px 0 15px;
    &>.clearfix{
      width: 100%;
      top: 0;
      padding-top: 15px;
      padding-right: 15px;
      //height: 10%;
      height: 55px;
      .search-code{
        top: 15px;
        position: absolute;
        right: 45px;
      }
    }
    &>.row{
      height: 100%;
      border-top: $borderGrey;
      &>div:first-child{
        border-right: $borderGrey;
        height: 100%;
        //overflow: auto;
      }
    }
    .discern-box{
      position: relative;
      height: 100%;
      padding-top: 35px;
      .discern-title-first{
        position: absolute;
        top: 0;
        height: 35px;
        line-height: 35px;
        margin-bottom: 0;
        font-size: 13px;
        color: #464d5c;
        font-weight: 500;
      }
      .discern-item{
        position: relative;
        height: 33%;
        padding-right: 15px;
        padding-top: 25px;
        &>p{
          position: absolute;
          top: 0;
          line-height: 25px;
          margin-bottom: 0;
          font-size: 12px;
          color: #868e9a;
        }
        textarea{
          width: 100%;
          height: 100%;
          border: $borderGrey;
          font-size: 11px;
          color: #464d5c;
          outline: none;
          padding: 5px;
          cursor: pointer;
        }
        .full-text-box{
          position: absolute;
          display: none;
          z-index: 888;
          height: 197px;
          width: 135%;
          left: -100%;
          top: -80px;
          background-color: #000;
        }
      }


    }
  }
}
/*-----------------电子卷宗查看页面---------------*/
.rich-text-box{
  position: relative;
  padding-left: 215px;
  z-index: 1;
  .left-btn{
    position: absolute;
    left: 0;
    top: 0;
    width: 215px;
    padding-right: 25px;
    //border-right: $borderGrey;
    display: table;
    button{
      height:40px;
      display: table-cell;
      width: 100%;
      text-align: left;
      padding-left: 35px;
      margin-bottom: 20px;
      vertical-align: middle;
      i{
        font-size: 14px;
        margin-right: 6px;
      }
    }
  }
  .right-written{
    width: 100%;
    z-index: 2;
    margin-bottom: 60px;
  }
}


































