*{
    list-style:none;
}
.font-grey{
    color:#999;
}
/*按钮*/
.next{
    border:none;
    background-image: linear-gradient(to right, #f9822a,#ffa91f);
    color: #fff;
    padding:7px 25px;
}
.dossier{
    border:none;
    background-image: linear-gradient(to right, #3e92ff,#2eadff);
    color: #fff;
    padding:7px 25px;
    margin-left:20px;
}
/*逮捕必要性评估总览*/
.first-level-titlec{
  width:100%;
  margin-bottom: 18px;
  display: table;
  border-left:5px solid #2b93f5;
  padding-left:5px;
  :first-child{
//  display: table-cell;
//    vertical-align: left;
    font-size: 16px;
    font-weight: bold;
  }
    .prove_icon{
        li{
            font-weight: normal;
            font-size: 13px;
        }
    }
  .right{
      float:right;
      cursor: pointer;
  }
  .show{
      float:right;
      cursor: pointer;
  }
}
.pl5{
    padding-left: 5px;
}
.firstContent{
    width:100%;
    height:auto;
    min-height: 78px;
    //overflow-x: didden;
    border:1px solid #ededed;
    .first-content-ul{
//  width:auto;
        overflow: hidden;
        .first-content-li{
        width:33.333%;
        height:auto;
        float:left;
        position: relative;
        border-right:1px solid #f3f4f7;
        }
    }
}
.firstLeft{
    float:left;
    width:33.33%;
    height:auto;
    position: absolute;
    top:50%;
    left:0;right:0;
    margin-top:-39px;
    .top{
        margin:auto;
        width:80%;
        height:auto;
        text-align: center;
        img{
            text-align: center;
            wdith:48px;
            height:58px;
            display: block;
            margin:auto;
        }
        span{
            display: block;
        }
    }
}

.firstCenter{
    margin-left: 33.333%;
    float: left;
    width:33.333%;
    height:auto;
    min-height: 78px;
    padding:25px 20px;
    .firstCenterli{
        width:100%;
        font-family: "微软雅黑";
        font-size: 13px;
        color:#464d5c;
        list-style: disc;
        margin-bottom: 6px;
    }
}
.firstCenter::-webkit-scrollbar {display:none}
.firstRight{
    float: left;
    width:33.333%;
    height:auto;
    padding:25px 20px;
    .firstRightli{
        width:100%;
        font-family: "微软雅黑";
        font-size: 13px;
        color:#464d5c;
        margin-bottom: 6px;
        text-align: left;
        .texts{
            font-size: 16px;
            color:#fd8b04;
        }
    }
}
.firstRight::-webkit-scrollbar {display:none}
//选项卡
.nav-tabs{
    padding:0 25px;
}
.tab-content{
    background: #fff;
    padding:0 20px;
}
.border-bottom{
    border-bottom: 1px solid #e7e9f0;
    padding:10px 0;
}
.pd0{
    padding:0;
}
.margin020{
    margin: 20px 0;
}
.lefts{
    justify-content:left;
}

.pl0{
    padding-left:0;
}
.hist_cases{
    color:#fd8b04!important;
    padding:0 5px;
    font-size: 13px;
}
.tab-content-all{
    background: #fff;
    padding:0;
}
.border-no{
    border-bottom:none;
    margin-left:0;
}
.btn-sure-gradient{
    border: 1px solid #2b93f5;
    background: #edf5fc;
    color: #53a2f6;
}
.btn-feedback-gradient{
    border: 1px solid #d5d5d5;
    background: #f6f5f5;
    color: #464d5c;
}
.analysis{
    height:auto;
    .top{
        height:60px;
        width:100%;
        border-bottom: 1px solid #e7e9f0;
        .chance-box{
            line-height: 60px;
            img{
                margin:0 4px 0 24px;
                width:18px;
                height:17px;
            }
            .chance{
                font-size: 20px;
                color:#fd8b04;
            }
        }
        .next-box{
            line-height: 60px;
            background: none;
            margin-right:20px;
        }
    }
    .bottom{
        height:auto;
        padding-top:10px;
        padding-bottom:16px;
        ul{
            :first-child{
                 color:#464d5c;
            }
            li{
                padding:9px 20px;
                text-align:left;
                font-size: 12px;
                color:#fd942b;
            }
        }
    }
}
.prove_icon{
    li{
        vertical-align: middle;
        float: left;
        padding-right:20px;
        img{
            margin:0 10px;
            margin-bottom: 2px;
        }
    }
}
.matrix{
    table{
        width:100%;
        table-layout: fixed;
        thead{
            tr{
                th{
                padding:15px 0;
                height:42px;
                text-align: center;
                border-bottom:1px solid #ddd!important; 
                font-weight: normal;
                border-top:1px solid #e7e9f0;
                }
                :first-child{ 
                    width:142px;
                    text-align: left;  
                    border-right:1px solid #eee;
                    padding-left:10px;
                }
            }
            
        
        }
        tbody{
            tr{
                td{
                    text-align: center;
                    width:142px;
                    height:42px;
                    padding:5px;
                    font-size: 12px;
                    >div{
                        width:100%;height:100%;
                        padding:0 5px;
                        height: 42px;
                        line-height: 42px;
                        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
                    }
                }
                td:first-of-type{
                        
                        width:142px;
                        font-size: 13px;
                        font-weight: bold;
                        border-right:1px solid #eee;
                        text-align: left;
                        padding-left:10px;
                        div{
                            line-height: 20px;
                            display:block;white-space:normal; overflow:visible; text-overflow:clip;
                        }
                    }
                td:first-of-type
                .fs15{
                        font-size: 15px;
                    }
                .nothing_bg{
                    background: #f7f7f7;
                }
                .reinforce_bg{
                    background: #e4f2fe;
                }
                .sap_bg{
                    background: #fdead3;
                    :hover{
                        display: initial
                    }
                }
            }
            tr:first-of-type{
                td{
                    padding-top:20px;
                }
            }
        }
    }
    
}